@charset "utf-8";
html{
	font-size: 100px;
}
body{
	width: 100%;
	position: relative;
}
/*#header{
	width: 12rem;
	height: 0.8rem;
	background: #FFFFFF;
	box-sizing: border-box;
	margin: 0 auto;
}*/
.logo{
	float: left;
	width: 1.55rem;
	height: 0.8rem;
	box-sizing: border-box;
	position: relative;
}
.logo img{
	/*width: 1.5rem;*/
	height: 0.5rem;
	position: absolute;
	top: 0.16rem;
}
.hd-list{
	/*width: 8.1rem;*/
	height: 0.8rem;
	float: right;
}
.hd-list li{
	width: 1rem;
	height: 0.8rem;
	line-height: 0.8rem;
	float: left;
	position: relative;
}
.hd-list a{
	display: inline-block;
	width: 1.04rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	color: #333;
	font-size: 0.16rem;
	position: absolute;
	top: 0.2rem;
}
.hd-list a:hover,.hd-list .active{
	background: #5394ff;
	border-radius: 0.05rem;
	color: #FFFFFF;
	box-shadow: 0.1rem 0.1rem 0.5rem rgba(139,138,138,0.15);
}

.swiper-container,.swiper-wrapper,.swiper-slide{
	width: 100%;
	height: 566px;
	position: relative;
}
.slide1,.slide2,.slide3{
	background-size: 100%  566px !important;
	background-repeat: no-repeat!important;
	overflow: hidden;
}
.swiper-button-prev{
	left: 0.35rem!important;
}
.swiper-button-next{
	right: 0.35rem!important;
}
.baTxtbox,.applyFor{
	color: #FFFFFF;
	font-size: 0.22rem;
}
.slide1 .baTxtbox,.slide2 .baTxtbox,.slide3 .baTxtbox{
	display: inline-block;
	position: relative;
	top:0.5rem;
	left: 23.5%;
}
.slide2 .baTxtbox{
	top: 0.5rem;
	left: 19%;
}
.slide3 .baTxtbox{
	top: 0.9rem;
	left: 43.5%;
}
.slide3 .baTxt{
	text-align: center;
	letter-spacing: inherit;
	font-size: 0.36rem;
}
.futxt{
	display: block;
	font-size: 0.22rem;
	letter-spacing: 0.05rem;
	margin-top: 0.2rem;
}
.baTxt{
	letter-spacing: 0.05rem;
}
.slide1 .baTxtbox input,
.slide2 .baTxtbox input,
.slide3 .baTxtbox input{
	width: 1.65rem;
	margin-top: 0.3rem;
	float: right;
}
.slide3 input{
	position: relative;
	top: 2.3rem;
	left: -0.6rem;
}
.baTxtbox input{
	height: 0.5rem;
	border: none;
	background: #FFFFFF;
	color: #007AFF;
	text-align: center;
	border-radius: 0.1rem;
	font-size: 0.16rem;
	box-shadow: 0.1rem 0.1rem 1rem rgba(139,138,138,0.15);
}
.applyFor{
	width: 3.4rem;
	height: 3.2rem;
	background: #FFFFFF;
	border-radius: 0.05rem;
	box-sizing: border-box;
	padding: 0.15rem 0.3rem 0.3rem;
	position: absolute;
	top: 1.6rem;
	right: 3.75rem;
	z-index: 1;
}
.foName{
	text-align: center;
	font-size: 0.18rem;
	color: #333333;
	margin-bottom: 0.5rem;
}
.foInp,#sendBtn{
	width:100%;	
	height: 0.45rem;
	margin-top: 0.2rem;
	position: relative;
}
.foInp input{
	width: 100%;
	height: 0.45rem;
	line-height: 0.45rem;
	box-sizing: border-box;
	padding: 0 0.12rem;
	border: 0.01rem solid #cccccc;
	border-radius: 0.02rem;
	font-size: 0.14rem;
}
.applyFor .send{
	position: absolute;
	top: 0.12rem;
	right: 0.12rem;
	color: #007AFF;
	font-size: 0.14rem;
    cursor:pointer;
}
#sendBtn{
	background: #5394ff;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.16rem;
	margin-top: 0.2rem;
	border-radius: 0.02rem;
}
.zhezhao,.zhezhao2{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	display: none;
}
.pop{
	width: 5.05rem;
	height: 3rem;
	background: #FFFFFF;
	border-radius: 0.05rem;
	box-sizing: border-box;
	padding: 0.3rem 0.4rem;
	position: fixed;
	top: 2.5rem;
	left: 7.1rem;
	z-index: 102;
	display: none;
}
.wintxt{
	font-size: 0.2rem;
	color: #333333;
}
.blue{
	color: #5394ff;
}
.call{
	font-size: 0.16rem;
	color: #666666;
	text-align: center;
	margin: 0.3rem 0 0.3rem;
}
.pop .tel{
	font-size: 0.24rem;
	color: #5394FF;
	width: 2.2rem;
	height: 0.4rem;
	line-height: 0.4rem;
	margin-left: 50%;
	transform: translate(-50%);
}
.pop .tel img{
	width: 0.38rem;
	height: 0.4rem;
	margin-right: 0.1rem;
	float: left;
}
.know{
	margin: 0.4rem auto 0;
	width: 1.4rem;
	height: 0.5rem;
}
.know input{
	float: left;
	width: 1.4rem;
	height: 0.5rem;
	background: #5394FF;
	color: #FFFFFF;
	border-radius: 0.05rem;
	font-size: 0.18rem;
}
.hint{
	font-size: 0.12rem;
}
/*******/
.tryform{
	width: 7.04rem;
	/*height: 7.02rem;*/
	float: right;
	background: #FFFFFF;
	box-sizing: border-box;
	padding: 0.2rem 0.3rem;
	border-radius: 0.05rem;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0.5rem;
	left: 6.15rem;
	z-index: 102;
	box-shadow: 0.1rem 0.1rem 1rem rgba(139,138,138,0.15);
}
.off{
	width: 0.18rem;
	height: 0.18rem;
	float: right;
}
.inform{
	box-sizing: border-box;
	padding: 0 0.25rem;
}
.tryform .call{
	text-align: left;
	padding-left: 0.25rem;
	margin: 0.4rem  0 0.1rem;
}
.foname{
	font-size: 0.16rem;
	text-align: center;
	color: #333333;
}
.firstinp{
	margin-top: 0.2rem;
}

.inpname,.inp label{
	height: 0.35rem;
	line-height: 0.35rem;
	font-size: 0.14rem;
	color: #666666;
	display: block;
}
.inp input,.inform .send{
	width: 100%;
	height: 0.38rem;
	line-height: 0.38rem;
	box-sizing: border-box;
	padding-left: 0.1rem;
	border: 0.01rem solid #e6e6e6;
	border-radius: 0.02rem;
	float: left;
	font-size: 0.14rem;
	color: #333;
}
.inform .inpname{
	float: left;
	width: 0.86rem;
	text-align: left;
	font-size: 0.16rem;
}
#need{
	height: 0.38rem;
	float: left;
}
#company,#youname,#need{
	width: 5.06rem;
}
.inp input::-webkit-input-placeholder{
            color:#999999;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
             color:#999999;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
             color:#999999;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
             color:#999999;
}
.inp{
	height: 0.38rem;
	margin-top: 0.2rem;
}
.inform .tel input{
	width: 2.5rem;
	margin-right: 0.1rem;
}
.inform .send{
	float: right;
	width: 1rem;
	color: #999999;
	padding: 0;
	text-align: center;
}
.must{
	color: red;
	margin: 0 0 0 0.1rem;
}
.modelbox{
	/*height: 1.2rem;*/
	overflow: hidden;
}
.limodel{
	min-width: 2.6rem;
	height: 0.36rem;
	float: left;
}
.model,.inform textarea{
	position: relative;
	top: -0.05rem;
	float: left;
	width: 5.06rem;
	/*height: 1.1rem;*/
	margin-top: 0.05rem;
	resize: none;
}
.limodel input{
	width: 0.16rem;
	height: 0.16rem;
	background: none;
	float: left;
	margin-top: 0.095rem;
}
.limodel label{
	float: left;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.16rem;
	color: #666666;
	padding-left: 0.12rem;
}
.inp textarea{
	height: 1rem;
	border: 0.01rem solid #CCCCCC;
	border-radius: 0.02rem;
	float: left;
	box-sizing: border-box;
	padding: 0.1rem;
	line-height: 0.18rem;
	color:#333333;
	font-size: 0.14rem;
	margin-top: 0.1rem;
}
.txtarea{
	height: 1rem;
	margin: 0;
}
.btnbox{
	width: 1.2rem;
	height: 0.4rem;
	margin: 0.2rem auto 0;
}
.btnbox input{
	float: left;
	text-align: center;
	width: 100%;
	line-height: 0.4rem;
	background: #5394ff;
	color: #FFFFFF;
	font-size: 0.16rem;
	border-radius: 0.05rem;
}
.inneed{
	width: 50%;
	float: left;
}
.inneed input{
	width: 0.16rem;
	height: 0.16rem;
	margin-right: 0.1rem;
	position: relative;
	top: 0.11rem;
}
.inneed label{
	font-size: 0.16rem;
	line-height: 0.38rem;
}
.needs{
	margin-top: 0.1rem;
}
.model{
	/*overflow: auto;*/
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 3rem;
}
.inmodel{
	min-width: 6.06rem;
	height: 1.1rem;
}
.test-1::-webkit-scrollbar {/*¹ö¶¯ÌõÕûÌåÑùÊ½*/
    width: 7px;     /*¸ß¿í·Ö±ð¶ÔÓ¦ºáÊú¹ö¶¯ÌõµÄ³ß´ç*/
    height: 6px;
    }
.test-1::-webkit-scrollbar-thumb {/*¹ö¶¯ÌõÀïÃæÐ¡·½¿é*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #03a9f4;
    }
.test-1::-webkit-scrollbar-track {/*¹ö¶¯ÌõÀïÃæ¹ìµÀ*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.zhezhao2{
	z-index: 103;
}
.popsub{
	width: 3.5rem;
	height: 1.6rem;
	color: #333333;
	text-align: center;
	line-height: 1.6rem;
	background: #FFFFFF;
	border-radius: 0.05rem;
	font-size: 0.2rem;
	position: fixed;
	top: 4rem;
	z-index: 104;
	float: left;
	margin-left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
	-moz-transform: translate(-50%);
	display: none;
}
.poptext{
	height: 1.1rem;
	line-height: 1.1rem;
}
#popsurebtn{
	width: 1rem;
	height: 0.4rem;
	color: #FFFFFF;
	background: #007AFF;	
	text-align: center;
	line-height: 0.4rem;
	border-radius: 0.05rem;
	display: inline-block;
	font-size: 0.2rem;
	float: left;
	margin-left: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
	-moz-transform: translate(-50%);
}
.tjstyle a img{width:24px;}